{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="container">
	<div class="desc-container">
		<a><img src="../static/main/images/IleanaKueber.png"
				alt="Ileana Kueber"
				loading="lazy"></a>
		<div class="self-description">
			<p><a class="title"><strong>Ileana Kueber</strong></a> is currently a senior at Michigan State University persuing a Bachelor's degree in Computer Engineering. She will be graduating Spring of 2024. </p>
			<p>Ileana currently works on MSU's campus at the Wharton Center of Performing Arts as an usher. She is currently looking to start her career in Computer Engineering after graducation.</p>
			<p>In her free time, Ileana enjoys spending time with her friends and family, playing piano, needle felting, and playing video games.</p>
		</div>
	</div>
	<div class="short-desc">
		<hr></hr>
		<p><strong>Fun Fact!</strong></p>
		<p>I have grown my hair past my hips 3 times to donate to make wigs for cancer surviors</p>
	</div>
</div>
{% endblock %}