{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='piano/css/piano.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='piano/js/piano.js') }}" defer></script>
{% endblock %}

{% block maincontent %}
<div class="container">
	<div class="short-desc">
		<p><em>Behold piano great and old, its master slumbers in far off cold. If you wish to seek anew, call out to it - we see you.</em></p>
		<hr></hr>
	</div>
	<div class="piano-container">
		<!-- There are 10 white keys that make up the piano-->
		<div class="piano-white-keys">
			<div class="piano-key-white" id="key-a"></div>
			<div class="piano-key-white" id="key-s"></div>
			<div class="piano-key-white" id="key-d"></div>
			<div class="piano-key-white" id="key-f"></div>
			<div class="piano-key-white" id="key-g"></div>
			<div class="piano-key-white" id="key-h"></div>
			<div class="piano-key-white" id="key-j"></div>
			<div class="piano-key-white" id="key-k"></div>
			<div class="piano-key-white" id="key-l"></div>
			<div class="piano-key-white" id="key-;"></div>
		</div>
		<!-- There are 7 black keys that make up the piano-->
		<div class="piano-black-keys">
			<div class="piano-key-black" id="key-w"></div>
			<div class="piano-key-black" id="key-e"></div>
			<div class="piano-key-transparent"></div>
			<div class="piano-key-black" id="key-t"></div>
			<div class="piano-key-black" id="key-y"></div>
			<div class="piano-key-black" id="key-u"></div>
			<div class="piano-key-transparent"></div>
			<div class="piano-key-black" id="key-o"></div>
			<div class="piano-key-black" id="key-p"></div>
		</div>
		<!-- Letters displayed over white keys -->
		<div class="piano-white-key-letters">
			<div class="piano-key-white-letter"><p>A</p></div>
			<div class="piano-key-white-letter"><p>S</p></div>
			<div class="piano-key-white-letter"><p>D</p></div>
			<div class="piano-key-white-letter"><p>F</p></div>
			<div class="piano-key-white-letter"><p>G</p></div>
			<div class="piano-key-white-letter"><p>H</p></div>
			<div class="piano-key-white-letter"><p>J</p></div>
			<div class="piano-key-white-letter"><p>K</p></div>
			<div class="piano-key-white-letter"><p>L</p></div>
			<div class="piano-key-white-letter"><p>;</p></div>
		</div>
		<!-- Letters displayed over black keys -->
		<div class="piano-black-key-letters">
			<div class="piano-key-black-letter"><p>W</p></div>
			<div class="piano-key-black-letter"><p>E</p></div>
			<div class="piano-key-transparent"></div>
			<div class="piano-key-black-letter"><p>T</p></div>
			<div class="piano-key-black-letter"><p>Y</p></div>
			<div class="piano-key-black-letter"><p>U</p></div>
			<div class="piano-key-transparent"></div>
			<div class="piano-key-black-letter"><p>O</p></div>
			<div class="piano-key-black-letter"><p>P</p></div>
		</div>
		<div class="piano"></div>
		<div class="the-great-old-one"></div>
		<div class="piano-text" id="piano-title"><p>The Great Old One</p></div>
	</div>
</div>
{% endblock %}